
body {
  background: url(../images/topSecretStamp.jpg) no-repeat;
  background-size: cover;
  margin-top: 1px;
}

footer{
  bottom: 0;
  height: 60px;
  left: 0;
  padding:20px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.card{
  background-color: transparent;
  border-color: transparent;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.jumbotron {
background-color: transparent;
align-items: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #ae211b;
  /* background-color: #000; */
}
